/* General Styles */

body{
  text-align: center;
}

h1, h2, h3, h4, h5{
  font-family: 'Montserrat', sans-serif;
}

h2{
  padding: 0 0 2rem 0;
  text-decoration-line: underline;
  font-weight: 600;
}

h3{
  font-weight: 300;
}

hr{
  width: 20%;
  border: none;
  border-top: 20px dotted #FF7F50;
  background: none;
}

p{
  padding: 10px 0 0 0;
}

.container-fluid{
  padding: 3% 15% 7%;
  text-align: center;
}

/* Nav Bar Section */
.nav-item{
  padding: 0 10px;
}

.Nav-Bar{
  padding-bottom: 10px;
}

/* Title Section */
#Title, #Recent_Projects, #Social_Media {
  background-color: #4e98b1;
  text-align: center;
}

/* Experience Section */
.Name{
  font-weight: 700;
  padding: 180px 0 2rem 0;
  color: #000;
}

.image_Exp{
  width: 30%;
}

.Experience-Web{
border: 1px solid black;
background-color: #fff;
}

.Experience, .About_me{
  background-color: #000;
  color: #fff;

}

/* Skills and Aptitudes Section */

.progress-bar{
  background-color: #38EB9B;
}

.progress{
  height: 3px;
}

/* Social Medio section */

.icon{
  padding: 20px;
  transform: scale(2);
  color: #FFF;
}

.icon:hover{
  color: #FF7F50;
}
.Social-Footer{

}
